name: Build and test [MYSQL]
on:
  pull_request:
    branches:
      - 'main'
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      -   uses: actions/checkout@v2
          if: success()

      -   name: Setup PHP with coverage driver
          uses: shivammathur/setup-php@v2
          with:
            php-version: '8.1'
            coverage: pcov

      -   name: Setup
          if: success()
          run: |
            php -v
            composer install --no-interaction
            touch coverage.xml
            mv .env.mysql .env
            sudo service mysql start
            mysql -uroot -proot -e "CREATE DATABASE eloquentdocs;"

      -   name: PHPUnit tests with coverage
          if: success()
          run: |
            composer test-coverage

      -   name: upload coverage to codecov.io
          uses: codecov/codecov-action@v1
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            file: ./coverage.xml